{% extends 'adminhome.html' %}
{% block body %}
<style>
    td{
        padding: 10px;
    }
</style>
<center>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <hr><h1>Company</h1><hr>
    <table >
<tr><td>Name</td><td><input type="text" class="form-control" name="t1"></td></tr>
<tr><td>Contact</td><td><input type="text" class="form-control" name="con"></td></tr>
<tr><td>Upload logo</td><td><input type="file" class="form-control" name="file"></td></tr>
<tr><td></td><td><input type="submit" name="b1" class="btn btn-primary" value="SUBMIT"></td></tr>
    </table>
    <table border="1">
        <tr>
            <th>COMPANY</th>
            <th>LOGO</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.name}}</td>
            <td><img src="../static/media/{{d.logo}}" height="150px" width="150px"></td>
        </tr>
        {% endfor %}
    </table>
    <br>
</form>
</center>
{% endblock %}