{% extends 'cushome.html' %}
{% block body %}
<style>
    td,th{
        padding: 20px;
    }
</style>
<br>
<center>
<hr>
<h1>New arrivals</h1><hr>

<div >
<!-- <table class="table">
<tr><th>Name</th><th>CmpID</th><th>Model</th><th>Type</th><th>Fuel</th><th>Torque</th><th>HP</th><th>Colors</th><th>Price</th><th>Image</th></tr>
{% for d in data %}
<tr><td>{{d.1}}</td><td>{{d.2}}</td><td>{{d.3}}</td><td>{{d.4}}</td><td>{{d.5}}</td><td>{{d.6}}</td><td>{{d.7}}</td><td>{{d.8}}</td><td>{{d.9}}</td><td><img width="100px" src="../static{{d.12}}"></td></tr>

{% endfor %}
</table> -->
<table style="width: 700px;">
    {% for d in data %}
    <tr>
        <td>
            <a href="../static/media/{{d.image}}" target="_blank">
                <img width="300px" height="200px" style="border-radius: 50%;" src="../static/media/{{d.image}}">
            </a>
        </td>
        <td>
            <h1>{{d.name}}</h1>
            <p>Model : {{d.model}}</p>
            <p>Type : {{d.type}}</p>
            <p>Fuel : {{d.fuel}}</p>
            <p>Price : Rs.{{d.price}}/-</p>
            <p><a href="/custcardetails?id={{d.id}}" style="color:blue;"> View more... </a></p>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</center>
{% endblock %}