{% extends 'cushome.html' %}
{% block body %}

<div>
    <center>
        <br>
        <hr><h1>My requests</h1>
    </center>
<table class="table">
<tr><th>ID</th><th>Expert</th><th>Status</th><th>Action</th></tr>
{% for d in data %}
<tr><td>{{d.id}}</td><td>{{d.exp.name}}</td><td>{{d.status}}</td>
    
    {% if d.status == "Approved" %}
    
   
   
    <td><a href="/inchat?email={{d.exp.email}}">Chat</a></td>
    {% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endblock %}