{% extends 'experthome.html' %}
{% block body %}
<style>
    td{
        padding: 10px;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <br><hr><center><h1>Review</h1><hr>
    <table style="width: 800px;">
 <tr>
     <td>Why would I buy it?</td>
     <td><input type="text" name="txtBuy" required class="form-control"></td>
</tr>       
<tr>
    <td>Why would I avoid it?</td>
    <td><input type="text" name="txtAvoid" required class="form-control"></td>
</tr> 
<tr>
    <td>Overall review</td>
    <td><textarea name="txtOverall" required class="form-control"></textarea></td>
</tr> 
<tr>
    <td>Overall rating</td>
    <td><input type="radio" name="rating" checked="checked" value="1">1
        <input type="radio" name="rating" value="2">2
        <input type="radio" name="rating" value="3">3
        <input type="radio" name="rating" value="4">4
        <input type="radio" name="rating"  value="5">5
        <input type="radio" name="rating" value="6">6
        <input type="radio" name="rating" value="7">7
        <input type="radio" name="rating" value="8">8
        <input type="radio" name="rating" value="9">9
        <input type="radio" name="rating" value="10">10</td>
</tr>  
</table><hr>

<table style="width: 700px;">                 
{% for data in datas %} 

    <tr><td>{{data.id}}.
    {{data.q}}</td></tr>
    <tr><td><input type="radio" name="point{{data.id}}" checked="checked"  value="1">1
    <input type="radio" name="point{{data.id}}" value="2">2
    <input type="radio" name="point{{data.id}}" value="3">3
    <input type="radio" name="point{{data.id}}" value="4">4
    <input type="radio" name="point{{data.id}}" selected value="5">5
    <input type="radio" name="point{{data.id}}" value="5">6
    <input type="radio" name="point{{data.id}}" value="5">7
    <input type="radio" name="point{{data.id}}" value="5">8
    <input type="radio" name="point{{data.id}}" value="5">9
    <input type="radio" name="point{{data.id}}" value="5">10</td></tr>
    <tr><td><textarea name="ans{{data.id}}" required class="form-control"></textarea></td></tr>
{% endfor%}
    </table>
<br><input type="submit" value="Submit" style="width: 250px;" class="btn btn-primary"><br><br>
</center>
</form>
<script>
    var msg="{{msg}}";
    if(msg!="")
    {
        alert(msg);
        
            location.href="/expertviewreviews";
    
    }
</script>
{% endblock %}